html {
    scroll-behavior: smooth;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.NavigationB {
    position:fixed;
    top: 0;
    left: 1.5%;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(0, 0, 0, 0.406);
    padding: 0.8rem 2rem;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 50px;
    z-index: 1;
}

.NavigationB nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    min-height: max-content;
    padding: 10px;
}

.navI, .loginsign {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.NavigationB nav ul li {
    border-radius: 1em;
    padding: 15px;
}

.navI li, .loginsign li {
    position: relative;
}

.navI li a, .loginsign li a {
    text-decoration: none;
    color: white;
    padding: 0.5rem;
    transition: color 0.3s;
    padding: 20px;
}

.NavigationB nav ul li:hover {
    scale: 1.1;
    transition: scale 0.2s;
}

.NavigationB nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.176);
    box-shadow: 0px 0px 30px white;
    border-radius: 40px;
}

.NavigationB nav .loginsign li:hover {
    scale: 1.1;
}

.NavigationB nav .loginsign li:hover a {
    color: white;
}

.frontupMC {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly; 
    gap: 8rem;
    max-width: 80%;
    background-color: rgba(255, 255, 255, 0.176);
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 3rem;
    padding-right: 3rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5rem;
    margin-top: 10rem;
    border-radius: 20px;
}

.frontupL, .frontupR {
    width: 50%; 
}

.frontupL {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.frontupL h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.frontupR img {
    max-width: 100%;
    height: auto;
}

.Scroll1 {
    background-color: rgb(255 , 94, 0);
    font-size: 23px;
    font-weight: bold;
    color: white;
    padding: 1.3rem 2rem;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: 0.5s ease;
}

.Scroll1:hover {
    scale: 1.1;
    background-color: rgb(255, 255, 255);
    color: rgb(255 , 94, 0);
    box-shadow: 0px 0px 30px rgb(255 , 94, 0);
}


.KeyfeaturesC {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 80%;
    border-radius: 30px;
}

.Keyfeature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3s;
}

.Keyfeature div p {
    box-sizing: border-box;
    width: max-content;
    height: 1rem;
    margin: 10px auto;
    font-family: 'Text';
    font-size: 27px;
    color: #383838;
    text-align: center;
    font-weight: 800;
    font-family: Arial, Helvetica, sans-serif;
}

.imgKF {
    border-radius: 20px;
    margin: 10px auto;
    width: 16rem;
    transition: 0.3s;
}

.imgKF:hover {
    box-shadow: 0px 0px 30px white;
}

.Keyfeature:hover {
    scale: 1.1;
}

.Quotes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: rgba(255, 255, 255, 0.256);
    width: auto;
    height: auto;
    border-radius: 20px;
    transition: 0.3s all ease-in-out;
    z-index: 0;
}

.Quotes:hover {
    scale: 1.1;
    box-shadow: 0px 0px 30px white;
}

.Quiz {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    height: auto;
    padding: 35px;
    border-radius: 20px;
    transition: 0.3s;
    background-color: rgba(255, 255, 255, 0.176);
    width: 80%;
}

.Qhead {
    font-size: 50px;
    font-weight: 800;
}

.Qbody {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    width: 60%;
    margin: 20px auto;
}

.QButton {
    padding: 15px 25px;
    border: unset;
    border-radius: 40px;
    color: #212121;
    z-index: 1;
    background: #e8e8e8;
    position: relative;
    font-weight: 1000;
    font-size: 20px;
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
    overflow: hidden;
    box-shadow: 0px 0px 20px black;
}

.QButton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    border-radius: 15px;
    background-color: #212121;
    z-index: -1; 
    -webkit-box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    box-shadow: 4px 8px 19px -3px rgba(0,0,0,0.27);
    transition: all 250ms;
}

.QButton:hover {
    transform: scale(1.1);
    color: #e8e8e8;
    box-shadow: 0px 0px 30px rgb(255, 255, 255);
}

.QButton:hover::before {
    width: 100%; 
}

.B {
    display: block;
    margin: 10px auto;
}

.MainC {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    row-gap: 20px;
    background-color: rgba(255, 255, 255, 0.176);
    width: max-content;
    padding: 50px;
    border-radius: 20px;
}

.Ctop {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
    column-gap: 10rem;
}

.Cbottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px auto;
    height: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.Cbuttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    column-gap: 18rem;
}

.CButton {
    display: inline-block;
    padding: 15px 25px;
    text-align: center;
    border-radius: 10px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    width: 180px;

}

.CButton:hover {
    scale: 1.1;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

.hover-info {
    position: absolute;
    display: none;
    font-size: 25px;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 15px;
    width: 250px;
    text-align: center;
    top: 20%;
    transform: translateX(-50%);
    z-index: 2;
}

.alumni-info {
    left: 14%; 
}

.guide-info {
    right: 1%;
}

.Cleft:hover .alumni-info, .Cright:hover .guide-info {
    transition: 0.3s;
    display: block;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("images/bg2.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.booking-container {
    background-color: rgba(255, 255, 255, 0.176);    
    padding: 2rem;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width:max-content;
}

h2 {
    text-align: center;
    margin-bottom: 1rem;
}

form {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    min-width: 25rem;
}

label {
    font-weight: bold;
    font-size: 20px;

}

input, select, textarea {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.406);
}

input:focus, select:focus, textarea:focus {
    outline: none;
    box-shadow: 0 0 20px rgb(255, 255, 255);
}

textarea {
    resize: both;
    min-height: 10rem;
    min-width: 25rem;
}

button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background-color: #007BFF;
    color: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background-color: #ffffff;
    color: black;
    box-shadow: 0px 0px 20px rgb(255, 255, 255);
}

#join-call {
    margin-top: 1rem;
    width: 100%;
    background-color: #007BFF;
}

#join-call:hover {
    background-color: #ffffff;
}
